{% extends "base.html" %}
{% block content %}
<div class="container pt-4 pb-5 study-challenge-container">
  {% if messages %}
    {% for message in messages %}
      {% if forloop.first %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
          {{ message }}
          {% if messages|length > 1 %}
          <ul class="mt-2 mb-0">
          {% endif %}
      {% else %}
          <li>{{ message }}</li>
      {% endif %}
      {% if forloop.last %}
          {% if messages|length > 1 %}
          </ul>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="row justify-content-center">
    <div class="col-8">
      <h3 class="text-center mb-4">{{ question.title }}</h3>
      <div class="row">
        <div class="d-flex justify-content-between">
          <div>
            <img class="profile-icon rounded-circle" id="profile-icon" src="{{ question.user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
            {{ question.user.username }}
          </div>
          <div>
            {% if user.id == question.user.id %}
            <a href="{% url 'questions:question_edit' question.id %}" class="btn btn-custom-edit">編集</a>
            <a href="#" class="btn btn-custom-warning" data-bs-toggle="modal" data-bs-target="#deleteQuestionModal">削除</a>
            {% endif %}
          </div>
          <!-- 削除確認メッセージ表示 -->
          <div class="modal fade" id="deleteQuestionModal" tabindex="-1" aria-labelledby="deleteQuestionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteQuestionModalLabel">投稿削除</h5>
                </div>
                <div class="modal-body">
                  本当に削除しますか？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                  <form method="POST" action="{% url 'questions:question_delete' question.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">はい</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-2 d-flex justify-content-center align-items-center">
        <img src="{{ question.picture.url }}" class="img-fluid" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="Question Picture">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 container mb-4">
            <div class="row justify-content-center pb-2 mt-2 mb-2">
              <div class="col-4">
                <h5 class="fw-bold text-center">ジャンル</h5>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-center align-items-center" style="flex-wrap: wrap; gap: 0.5rem;">
                {% for category in question.category.all %}
                  <p class="circle-auto" style="white-space: no-wrap;">{{ category.categoryname }}</p>{% if not forloop.last %} {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h5 class="fw-bold text-center">内容</h5>
        </div>
        <div class="mb-4 mt-2 d-flex justify-content-center align-items-center">
          {{ question.comment|linebreaksbr }}
        </div>
      </div>
    </div>
  </div>
  <!-- 回答 -->
  <div class="row justify-content-center mt-4">
    <div class="col-8">
      <div style="border-bottom: 1px solid #ccc;">
        <h3 class="text-center">回答</h3>
      </div>
      {% if user.is_authenticated %}
      <div class="mb-4 mt-2 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary mt-2" id="answer-btn">回答する</button>
      </div>
      {% else %}
      <div class="mb-4 mt-2 row justify-content-center align-items-center">
        <h4 class="text-center">回答するにはログインが必要です</h4></br>
        <a href="{% url 'accounts:user_login' %}" class="text-center">ログインする</a>
      </div>
      {% endif %}
      <div id="answer-form-container" style="display: none;" class="row my-3">
        <div class="card">
          <form method="POST" class="my-4 mx-4" enctype="multipart/form-data">
            {% csrf_token %}
            {% for answer in question_answer_form %}
            <div class="form-group mb-3">
              <h5>{{ answer.label }}</h5>
              {% for error in answer.errors %}
              <p style="color: red;">{{ error }}</p>
              {% endfor %}
              {% if answer.name == 'comment' %}
              <textarea name="comment" cols="50" rows="20" class="form-control"></textarea>
              {% else %}
              {{ answer }}
              {% endif %}
            </div>
            {% endfor %}
            <div class="form-group d-flex justify-content-center my-4">
              <input class="btn btn-primary" type="submit" value="回答">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 回答対象の質問と現在表示されている質問のidが同一の場合 -->
  {% for answer in answers %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4 d-flex justify-content-center align-items-center" style="display: block;">
        <div class="d-flex justify-content-between align-items-center px-2 mt-3 mb-2 gap-2 w-100 ps-3">
          <div>
            <img class="profile-icon rounded-circle" id="profile-icon" src="{{ answer.user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
            {{ answer.user.username }}
          </div>
          {% if answer.user == request.user %}
          <div>
            <button class="btn btn-custom-edit" id="answer-edit-btn" data-answer-id="{{ answer.id }}">編集</button>
            <button class="btn btn-custom-warning" id="answer-modal-btn" data-bs-toggle="modal" data-bs-target="#deleteAnswerModal"">削除</button>
          </div>
          {% endif %}
        </div>
        <!-- 回答 -->
        <div id="answer-card">
          <div class="d-flex justify-content-center mb-4 mt-2 mx-4">
            <img src="{{ answer.picture.url }}" class="img-fluid align-items-center" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="Answers Picture">
          </div>
          <div class="d-flex justify-content-center mt-4">
            <h5 class="fw-bold text-center">内容</h5>
          </div>
          <div class="mb-4 mt-2 px-4 d-flex justify-content-center align-items-center">
            {{ answer.comment|linebreaksbr }}
          </div>
        </div>
        <!-- 回答編集 -->
        <div id="answer-editForm-container" style="display: none;">
          <div class="row justify-content-center m-3">
            <form method="POST" id="answerEditForm" class="my-4 mx-4" enctype="multipart/form-data">
              {% csrf_token %}
              {% for answer_edit in question_answer_edit_form %}
              <div class="form-group mb-3 align-items-center">
                <h5>{{ answer_edit.label }}</h5>
                {% for error in answer_edit.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% if answer_edit.name == 'comment' %}
                <textarea id="answerComment" name="comment" rows="20" class="form-control"></textarea>
                {% else %}
                <input type="file" name="picture">
                <p class="small">
                  現在の画像：
                  <img src="" id="answerPicture" class="img-fluid align-items-center" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="Answers Edit Picture">
                </p>
                {% endif %}
              </div>
              {% endfor %}
              <div class="form-group d-flex justify-content-center my-4">
                <input class="btn btn-primary" type="submit" value="更新">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 回答削除モーダル -->
      <div class="modal fade" id="deleteAnswerModal" tabindex="-1" aria-labelledby="deleteAnswerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteAnswerModalLabel">回答削除</h5>
            </div>
            <div class="modal-body">
              本当に削除しますか？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
              <form method="POST" action="{% url 'questions:answer_delete' answer.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">はい</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
