{% extends 'base.html' %}
{% block content %}
<div class="container study-challenge-container">
  {% if messages %}
    {% for message in messages %}
      {% if forloop.first %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
          {{ message }}
          {% if messages|length > 1 %}
          <ul class="mt-2 mb-0">
          {% endif %}
      {% else %}
          <li>{{ message }}</li>
      {% endif %}
      {% if forloop.last %}
          {% if messages|length > 1 %}
          </ul>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div id="FormSuccess"></div>
  <div class="row justify-content-center">
    <h2 class="text-center pt-3">チャット</h2>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary group-schedule-rgsbtn mb-2" data-bs-toggle="modal" data-bs-target="#addScheduleModal" data-pk="{{ share_chat.id }}">全体共有スケジュールを登録</button>
    </div>
    <!-- スケジュール登録モーダル -->
    <div class="modal fade" id="addScheduleModal" tabindex="-1" aria-labelledby="addScheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addScheduleModalLabel">スケジュール登録</h5>
          </div>
          <div class="modal-body">
            <div id="chatScheduleFormErrors"></div>
            <div class="row justify-content-center">
              <div class="col">
                <form id="scheduleListForm" method="POST">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-6">
                    <!-- 左フィールド -->
                    {% for regist in schedule_regist_form %}
                      {% if regist.name in fields_left %}
                        {% if regist.name == 'start_at' or regist.name == 'end_at' %}
                        <div class="form-group mb-3">
                          <h5>{{ regist.label }}</h5>
                          {% for error in regist.errors %}
                          <p style="color: red;">{{ error }}</p>
                          {% endfor %}
                          <input type="datetime-local" class="form-control" name="{{ regist.name }}">
                        </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    </div>
                    <div class="col-6">
                    <!-- 右フィールド -->
                    {% for regist in schedule_regist_form %}
                      {% if regist.name in fields_right %}
                        {% if regist.name == 'task' %}
                        <div class="form-group mb-3">
                          <h5>{{ regist.label }}</h5>
                          {% for error in todo.errors %}
                          <p style="color: red;">{{ error }}</p>
                          {% endfor %}
                          <textarea name="task" cols="1" rows="1" class="form-control"></textarea>
                        </div>
                        {% elif regist.name == 'place' %}
                        <div class="form-group mb-3">
                          <h5>{{ regist.label }}</h5>
                          {% for error in regist.errors %}
                          <p style="color: red;">{{ error }}</p>
                          {% endfor %}
                          {{ regist }}
                        </div>
                        {% elif regist.name == 'user' %}
                        <div class="form-group mb-3">
                          <h5>{{ regist.label }}</h5>
                          {% for error in regist.errors %}
                          <p style="color: red;">{{ error }}</p>
                          {% endfor %}
                          <div id="chatgroupSelectedUsersDisplay">ユーザーを選択してください</div>
                        </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-2">
                      <div class="row justify-content-center py-4">
                        <div id="chatgroupScheduleUsersInput"></div>
                        <button type="submit" class="btn btn-primary w-50">登録</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ユーザ選択モーダル -->
    <div class="modal fade schedule-adduser-modal" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">ユーザを選択する</h5>
          </div>
          <div class="modal-body">
            <form id="scheduleSearchForm">
              <div class="d-flex align-items-center justify-content-center m-2">
                <input type="text" id="scheduleSearchInput" name="search" placeholder="名前を検索" class="form-control me-2 w-75">
                <div class="me-2">
                  <button type="submit" class="btn btn-custom-edit">検索</button>
                </div>
              </div>
            </form>
            <form id="userSelectForm">
              <div id="scheduleUserList">
              {% for user in users %}
                <div class="form-check">
                  <input class="form-check-input user-checkbox" type="checkbox" value="{{ user.id }}" data-name="{{ user.username }}" checked>
                  <img class="profile-icon rounded-circle" id="profile-icon" src="{{ user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
                  <label class="form-check-label">{{ user.username }}</label>
                </div>
              {% endfor %}
              </div>
              <button type="button" class="btn btn-primary mt-3" id="confirmUserSelection">追加する</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12">
      <a class="text-decoration-none text-reset" href="{% url 'chats:share_chat' %}">
        <div class="card mb-3 mt-3 p-2">
          <h4 class="text-center">全体共有チャット</h4>
          <button type="button" class="text-center btn group-schedule-rgsbtn border-0 btn-primary">全体共有チャットへ</button>
        </div>
      </a>
      <div class="card mb-3 pt-2">
        <h4 class="text-center">グループ一覧</h4>
        <div class="d-flex flex-wrap justify-content-evenly mx-2">
        {% for group in chatgroups %}
          <a class="text-decoration-none text-reset" href="{% url 'chats:group_chat' group.id %}">
            <div class="mx-2 d-flex flex-column align-items-center">
              <img class="profile-icon rounded-circle" id="profile-icon" src="{{ group.picture.url }}" alt="Group Icon" style="width: 50px; height: 50px; object-fit: cover;">
              <p class="text-center text-limit mb-0" style="width: 80px;">{{ group.groupname }}</p>
            </div>
          </a>
        {% empty %}
          <p class="text-center">所属しているグループはありません</p>
        {% endfor %}
        </div>
        <p class="text-center" type="button" data-bs-toggle="modal" data-bs-target="#addChatGroupModal" style="color: blue; text-decoration: underline;">＋グループ作成</p> 
      </div>
      <!-- グループ作成モーダル -->
      <div class="modal fade" id="addChatGroupModal" tabindex="-1" aria-labelledby="addChatGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addChatGroupModalLabel">チャットグループ作成</h5>
            </div>
            <div class="modal-body">
              <div id="chatgroupFormErrors"></div>
              <div class="row justify-content-center">
                <div class="col">
                  <form id="chatgroupForm" method="POST" action="{% url 'chats:chatsgroup_create' %}">
                  {% csrf_token %}
                  {% for create in chat_group_form %}
                    {% if create.name == 'user' %}
                    <div class="form-group mb-3">
                      <h5>{{ create.label }}</h5>
                      {% for error in create.errors %}
                      <p style="color: red;">{{ error }}</p>
                      {% endfor %}
                      <div id="selectedGroupUsersDisplay" class="p-4">ユーザーを「登録ユーザを選択する」ボタンから選択しください</div>
                    </div>
                    {% else %}
                    <div class="form-group mb-3">
                      <h5>{{ create.label }}</h5>
                      {% for error in create.errors %}
                      <p style="color: red;">{{ error }}</p>
                      {% endfor %}
                      {{ create }}
                    </div>
                    {% endif %}
                  {% endfor %}
                    <div class="d-flex flex-column mb-2">
                      <div class="row justify-content-center">
                        <button class="btn btn-custom-edit w-50 m-2" type="button" data-bs-toggle="modal" data-bs-target="#addGroupUserModal">登録ユーザを選択する</button>
                        <input type="hidden" name="group_users" id="selectedGroupUsers">
                        <button type="submit" class="btn btn-primary w-50">登録</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ユーザ選択モーダル -->
      <div class="modal fade chatgroup-adduser-modal" id="addGroupUserModal" tabindex="-1" aria-labelledby="addGroupUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addGroupUserModalLabel">メンバーを選択する</h5>
            </div>
            <div class="modal-body">
              <small id="default-message" style="color: red;">※デフォルトで本人にチェックが入っていますが、「追加」ボタンを押下しないと登録ユーザーに反映されません</small>
              <form id="chatgroupSearchForm">
                <div class="d-flex align-items-center justify-content-center m-2">
                  <input type="text" id="chatgroupSearchInput" name="search" placeholder="名前を検索" class="form-control me-2 w-75">
                  <div class="me-2">
                    <button type="submit" class="btn btn-custom-edit">検索</button>
                  </div>
                </div>
              </form>
              <form id="groupUserSelectionForm">
                <div id="chatgroupUserList">
                {% for user in users %}
                  <div class="form-check">
                    {% if user.id == request.user.id %}
                    <input class="form-check-input user-group-checkbox" type="checkbox" value="{{ user.id }}" data-name="{{ user.username }}" checked disabled>
                    <img class="profile-icon rounded-circle" id="profile-icon" src="{{ user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
                    <label class="form-check-label">{{ user.username }}</label>
                    {% else %}
                    <input class="form-check-input user-group-checkbox" type="checkbox" value="{{ user.id }}" data-name="{{ user.username }}">
                    <img class="profile-icon rounded-circle" id="profile-icon" src="{{ user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
                    <label class="form-check-label">{{ user.username }}</label>
                    {% endif %}
                  </div>
                {% endfor %}
                </div>
                <button type="button" class="btn btn-primary mt-3" id="addGroupUsers">追加する</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 pt-2">
        <h4 class="text-center">ユーザ一覧</h4>
        <div class="d-flex flex-wrap justify-content-evenly mx-2">
          {% for user in private_user %}
            {% if not user == request.user %}
            <a class="text-decoration-none text-reset" href="{% url 'chats:private_chat' user.id %}">
              <div class="mx-2 d-flex flex-column align-items-center">
                <img class="profile-icon rounded-circle" id="profile-icon" src="{{ user.picture.url }}" alt="Profile Icon" style="width: 50px; height: 50px; object-fit: cover;">
                <p class="text-center text-limit mb-0" style="width: 80px;">{{ user.username }}</p>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
        <a href="{% url 'accounts:users' %}" class="text-center mb-3">＋ユーザを選択する</a>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
      <div id="chat-container">
        <div class="border pt-3 px-3 chatbox-header" style="height: 55px;">
          <div class="d-flex justify-content-first">
            <h5 class="my-auto">全体共有チャット</h5>
          </div>
        </div>
        <div id="messages" class="overflow-auto border p-3 mb-3 chatbox" style="height: 450px;">
          {% for chat in chats %}
          {% if chat.user.id == request.user.id %}
          <div class="message d-flex justify-content-end mb-3">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column">
                {% if chat.picture %}
                  <img id="chat-picture" src="{{ chat.picture.url }}" alt="Chat Picture" style="max-width: 400px; max-height: 350px; object-fit: cover;">
                {% endif %}
                {% if chat.message %}
                <div class="d-flex justify-content-end">
                  <p class="chat-messages text-start mt-2 mb-0 p-2" style="background-color: white;">{{ chat.message }}</p>
                </div>
                {% endif %}
                <small class="text-muted text-end">{{ chat.created_at }}</small>
              </div>
              <div class="d-flex flex-column ps-3">
                <img class="profile-icon rounded-circle" id="profile-icon" src="{{ chat.user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
                <strong class="text-limit" style="max-width: 50px;">{{ chat.user.username }}</strong>
              </div>
            </div>
          </div>
          {% else %}
          <div class="message">
            <div class="d-flex flex-row">
              <div class="d-flex flex-column pe-3">
                <img class="profile-icon rounded-circle" id="profile-icon" src="{{ chat.user.picture.url }}" alt="Profile Icon" style="width: 30px; height: 30px; object-fit: cover;">
                <strong class="text-limit" style="max-width: 50px;">{{ chat.user.username }}</strong>
              </div>
              <div class="d-flex flex-column">
                {% if chat.picture %}
                  <img id="chat-picture" src="{{ chat.picture.url }}" alt="Chat Picture" style="max-width: 400px; max-height: 350px; object-fit: cover;">
                {% endif %}
                {% if chat.message %}
                <div class="d-flex justify-content-start">
                  <p class="chat-messages text-start mt-2 mb-0 p-2" style="background-color: white;">{{ chat.message }}</p>
                </div>
                {% endif %}
                <small class="text-muted text-end">{{ chat.created_at }}</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="card px-3 mt-3 align-items-center">
          <form id="chat-form" method="POST" enctype="multipart/form-data" class="mt-3" style="width: 100%;" action="{% url 'chats:send_message' %}">
            {% csrf_token %}
            {% for form in chat_form %}
              {% if form.name == 'message' %}
              <div class="form-group mb-2">
                <h5>{{ form.label }}</h5>
                {% for error in form.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                <textarea name="message" cols="20" rows="3" class="form-control mb-3" placeholder="メッセージを入力..."></textarea>
              </div>
              {% else %}
              <div class="form-group mb-2">
                <h5>{{ form.label }}</h5>
                {% for error in form.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                <div class="d-flex justify-content-between">
                  {{ form }}
                  <input type="hidden" name="group_id" value="{{ share_chat.id }}">
                  <input type="submit" class="btn btn-primary w-45" value="送信">
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
